
.jumbotron-fluid{
	background-color: black;
	color: darkgrey;
	margin: 5px;
	padding: 5px;
}

body{
	background-color: saddlebrown;
	color: darkgrey;
}

/*.card-deck{
	margin: 50px;
	padding: 50px;
}
**/